flows.json
[{"id":"42754b53.15e874","type":"tab","label":"1-wire to mqtt + anti-gel","disabled":false,"info":""},{"id":"tab_filtration","type":"tab","label":"Filtration Verdon VS","disabled":false},{"id":"bb193352.8cf5b","type":"tab","label":"USB relay 1-4: filtration","disabled":true,"info":""},{"id":"ea6e8158.f93ef","type":"tab","label":"USB relay 5: salt","disabled":false,"info":""},{"id":"99d8bec3.32123","type":"mqtt-broker","name":"domobeyou","broker":"192.168.2.46","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d414ab3f.5ec5d8","type":"inject","z":"42754b53.15e874","name":"","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[["ede5fa25.d43b48","f21d0e18.b0635","aebf8be7.95dbf8"]]},{"id":"a2e8ca47.09f638","type":"mqtt out","z":"42754b53.15e874","name":"mqtt","topic":"","qos":"1","retain":"true","broker":"99d8bec3.32123","x":670,"y":100,"wires":[]},{"id":"82e4ab61.2826b8","type":"switch","z":"42754b53.15e874","name":"Remove 85°","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"85","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":160,"wires":[["a2e8ca47.09f638","c1a521c5.b6cba"]]},{"id":"c1a521c5.b6cba","type":"switch","z":"42754b53.15e874","name":"outside temp","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ext_piscine/temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":200,"wires":[["9526c680.60b3f8","ae1bb7fd.6c5788"]]},{"id":"9526c680.60b3f8","type":"switch","z":"42754b53.15e874","name":"Too cold?","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"-2.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":840,"y":200,"wires":[["28043c21.46e0c4"]]},{"id":"ae1bb7fd.6c5788","type":"switch","z":"42754b53.15e874","name":"Too hot?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"-1.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":840,"y":300,"wires":[["26c7051a.89e5fa"]]},{"id":"28043c21.46e0c4","type":"function","z":"42754b53.15e874","name":"antigel running?","func":"var antigel = global.get('antigel') || 'off';\nif (antigel == 'off') {\n    // Sauvegarder la vitesse courante avant de passer en antigel\n    var current_speed = global.get('filtration_speed') || 'STOP';\n    global.set('antigel_previous_speed', current_speed);\n    global.set('antigel', 'on');\n    msg.payload = '100'; // forcer 100%\n    return msg;\n}\nelse\n    return null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1029,"y":200,"wires":[["67927813.826f38","f718f067.00514","1950964fd96333f1"]]},{"id":"26c7051a.89e5fa","type":"function","z":"42754b53.15e874","name":"antigel running?","func":"var antigel = global.get('antigel') || 'off';\nif (antigel == 'on') {\n    global.set('antigel', 'off');\n    // Reprendre la vitesse précédente\n    var previous_speed = global.get('antigel_previous_speed') || 'STOP';\n    msg.payload = previous_speed;\n    return msg;\n}\nelse\n    return null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1029,"y":300,"wires":[["67927813.826f38","f718f067.00514","1950964fd96333f1"]]},{"id":"67927813.826f38","type":"link out","z":"42754b53.15e874","name":"","mode":"link","links":["d71ed3ae95881c46"],"x":1275,"y":260,"wires":[]},{"id":"42333ade.b34b34","type":"inject","z":"42754b53.15e874","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":860,"y":80,"wires":[["4cb8fcf6.c7fde4"]]},{"id":"4cb8fcf6.c7fde4","type":"function","z":"42754b53.15e874","name":"reset antigel status","func":"global.set('antigel', 'off')\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":80,"wires":[[]]},{"id":"f718f067.00514","type":"function","z":"42754b53.15e874","name":"Prepare notifications","func":"var antigel = global.get('antigel');\nmsg.from = 'lionel@beard.fr';\nif (antigel == 'on') {\n    msg.topic = '[Piscine] Début anti-gel';\n    msg.payload = 'Mode anti-gel enclenché';\n} else {\n    msg.topic = '[Piscine] Fin anti-gel';\n    msg.payload = 'Mode anti-gel stoppé';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":320,"wires":[["85fe978c.7333b8","4fffc214.8b312c"]]},{"id":"85fe978c.7333b8","type":"e-mail","z":"42754b53.15e874","server":"smtp.free.fr","port":"25","secure":false,"name":"lionel@beard.fr","dname":"","x":1500,"y":320,"wires":[]},{"id":"4fffc214.8b312c","type":"pushover","z":"42754b53.15e874","name":"","device":"","title":"","priority":"0","sound":"","url":"","url_title":"","x":1480,"y":380,"wires":[]},{"id":"d33855b3.9ed248","type":"mqtt out","z":"42754b53.15e874","name":"","topic":"piscine/filtration/antigel","qos":"0","retain":"true","broker":"99d8bec3.32123","x":1560,"y":200,"wires":[]},{"id":"16512b7d.e1e095","type":"inject","z":"42754b53.15e874","name":"reset antigel mqtt","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":1100,"y":120,"wires":[["d33855b3.9ed248"]]},{"id":"613e8d91.a90904","type":"debug","z":"42754b53.15e874","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":80,"wires":[]},{"id":"ede5fa25.d43b48","type":"owfs","z":"42754b53.15e874","name":"local_piscine","uncached":false,"mode":"read","host":"owserver","port":4304,"paths":["local_piscine/temperature"],"x":290,"y":60,"wires":[["82e4ab61.2826b8","613e8d91.a90904"]]},{"id":"f21d0e18.b0635","type":"owfs","z":"42754b53.15e874","name":"eau_piscine","uncached":false,"mode":"read","host":"owserver","port":4304,"paths":["eau_piscine/temperature"],"x":290,"y":120,"wires":[["613e8d91.a90904","82e4ab61.2826b8"]]},{"id":"aebf8be7.95dbf8","type":"owfs","z":"42754b53.15e874","name":"ext_piscine","uncached":false,"mode":"read","host":"owserver","port":4304,"paths":["ext_piscine/temperature"],"x":290,"y":180,"wires":[["82e4ab61.2826b8","613e8d91.a90904"]]},{"id":"090522d7611c5ccf","type":"function","z":"42754b53.15e874","d":true,"name":"antigel running?","func":"var antigel = global.get('antigel') || 'off';\nif (antigel == 'off') {\n    global.set('antigel', 'on')\n    msg.payload = 'ON'\n    return msg;\n}\nelse\n    return null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":420,"wires":[[]]},{"id":"2ee31a9d1a124b18","type":"function","z":"42754b53.15e874","d":true,"name":"antigel running?","func":"var antigel = global.get('antigel') || 'off';\nif (antigel == 'on') {\n    global.set('antigel', 'off')\n    msg.payload = 'OFF'\n    return msg;\n}\nelse\n    return null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":460,"wires":[[]]},{"id":"1950964fd96333f1","type":"function","z":"42754b53.15e874","name":"Prepare msg","func":"var antigel = global.get('antigel');\nmsg.payload = antigel;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":200,"wires":[["d33855b3.9ed248"]]},{"id":"mqtt_speed_in","type":"mqtt in","z":"tab_filtration","name":"piscine/filtration/speed","topic":"piscine/filtration/speed","qos":"2","broker":"99d8bec3.32123","inputs":0,"x":120,"y":80,"wires":[["fn_speed"]]},{"id":"fn_speed","type":"function","z":"tab_filtration","name":"Speed → relay commands","func":"// ============================================================\n// GESTION VITESSE POMPE VERDON VS\n// Topic MQTT : piscine/filtration/speed\n// Valeurs : STOP, 52, 75, 100\n// Mapping relais : R1=STOP, R2=52%, R3=75%, R4=100%\n// ============================================================\n\nvar speed = msg.payload.toString().trim().toUpperCase();\nvar antigel = global.get('antigel') || 'off';\n\n// Sécurité antigel : ignorer STOP si antigel actif\nif (antigel === 'on' && speed === 'STOP') {\n    node.warn('Antigel actif, commande STOP ignorée');\n    return null;\n}\n\nvar relayMap = { 'STOP': 1, '52': 2, '75': 3, '100': 4 };\nvar relay = relayMap[speed];\n\nif (!relay) {\n    node.warn('Vitesse inconnue : ' + speed);\n    return null;\n}\n\n// Sauvegarde vitesse courante\nglobal.set('filtration_speed', speed);\n\n// Ouvrir relai cible en premier\nvar msgs = [{ payload: '-o ' + relay + ' /dev/ttyUSB0' }];\n\n// Fermer tous les autres relais pompe\n[1, 2, 3, 4]\n    .filter(r => r !== relay)\n    .forEach(r => msgs.push({ payload: '-c ' + r + ' /dev/ttyUSB0' }));\n\n// Sortie 2 : notification\nvar notif = {\n    topic: speed === 'STOP' \n        ? 'Filtration arrêtée' \n        : 'Filtration démarrée à ' + speed + '%',\n    payload: speed\n};\n\nreturn [msgs, notif];","outputs":2,"x":380,"y":80,"wires":[["relay_manager"],["fn_notif"]]},{"id":"relay_manager","type":"function","z":"tab_filtration","name":"Relay queue manager","func":"// ============================================================\n// GESTIONNAIRE QUEUE RELAIS\n// Garantit l'ordre et évite les appels simultanés\n// ============================================================\n\nvar queue = flow.get('relay_queue') || [];\nvar running = flow.get('relay_running') || false;\n\nqueue.push(msg.payload);\nflow.set('relay_queue', queue);\n\nif (running) {\n    return null;\n}\n\nflow.set('relay_running', true);\nvar cmd = queue.shift();\nflow.set('relay_queue', queue);\nmsg.payload = cmd;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":80,"wires":[["relay_exec"]]},{"id":"relay_exec","type":"exec","z":"tab_filtration","command":"/scripts/relayControl","addpay":true,"append":"","useSpawn":"false","name":"relayControl","x":890,"y":80,"wires":[["relay_done"],[],[]]},{"id":"relay_done","type":"function","z":"tab_filtration","name":"Next in queue","func":"// ============================================================\n// FIN DE COMMANDE - Lance la suivante si queue non vide\n// ============================================================\n\nvar queue = flow.get('relay_queue') || [];\n\nif (queue.length === 0) {\n    flow.set('relay_running', false);\n    return null;\n}\n\nvar cmd = queue.shift();\nflow.set('relay_queue', queue);\nmsg.payload = cmd;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":160,"wires":[["relay_exec"]]},{"id":"inject_status","type":"inject","z":"tab_filtration","name":"Status toutes les 60s","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"str"}],"repeat":"60","once":true,"onceDelay":5,"payload":"","payloadType":"date","x":140,"y":260,"wires":[["fn_status","e99b4272fff2073c"]]},{"id":"fn_status","type":"function","z":"tab_filtration","name":"Build status","func":"// ============================================================\n// CONSTRUCTION DU STATUS FILTRATION\n// Lit l'état des relais + vitesse courante depuis global\n// ============================================================\n\nvar speed = global.get('filtration_speed') || 'STOP';\n\nmsg.payload = '-s 1 /dev/ttyUSB0';\nmsg.speed = speed;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":260,"wires":[["relay_status_exec"]]},{"id":"relay_status_exec","type":"exec","z":"tab_filtration","command":"/scripts/relayControl","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"name":"Filtration status","x":540,"y":260,"wires":[["fn_parse_status"],[],[]]},{"id":"fn_parse_status","type":"function","z":"tab_filtration","name":"Parse status","func":"// ============================================================\n// PARSE STATUS RELAIS\n// Construit un objet status complet\n// ============================================================\n\nvar raw = msg.payload.replace(/\\s+/g, ' ').trim();\nvar speed = msg.speed || global.get('filtration_speed') || 'STOP';\n\nmsg.payload = JSON.stringify({\n    speed: speed,\n    relay_status: raw,\n    running: speed !== 'STOP',\n    timestamp: new Date().toISOString()\n});\n\nreturn msg;","outputs":1,"x":720,"y":260,"wires":[["59f931fd3de10ac6","e74d17c39e7deed4"]]},{"id":"mqtt_status_out","type":"mqtt out","z":"tab_filtration","name":"piscine/filtration/status","topic":"piscine/filtration/status","qos":"1","retain":"true","broker":"99d8bec3.32123","x":1220,"y":260,"wires":[]},{"id":"fn_notif","type":"function","z":"tab_filtration","name":"Prepare notification","func":"// ============================================================\n// PRÉPARATION NOTIFICATION PUSHOVER\n// ============================================================\n\nvar speed = msg.payload.toString();\n\nif (speed === 'STOP') {\n    msg.topic = 'Filtration arrêtée';\n} else {\n    msg.topic = 'Filtration démarrée à ' + speed + '%';\n}\n\nreturn msg;","outputs":1,"x":650,"y":200,"wires":[["pushover"]]},{"id":"pushover","type":"pushover","z":"tab_filtration","name":"Pushover","device":"","title":"","priority":"0","sound":"","url":"","url_title":"","html":false,"x":880,"y":200,"wires":[]},{"id":"d71ed3ae95881c46","type":"link in","z":"tab_filtration","name":"link in 1","links":["67927813.826f38"],"x":135,"y":160,"wires":[["fn_speed"]]},{"id":"59f931fd3de10ac6","type":"function","z":"tab_filtration","name":"Set payload to running","func":"var status = JSON.parse(msg.payload);\nmsg.payload = status.running ? 'ON' : 'OFF';\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":260,"wires":[["mqtt_status_out"]]},{"id":"e99b4272fff2073c","type":"function","z":"tab_filtration","name":"Resync vitesse","func":"// fn_resync — compare état attendu vs état réel\nvar expected_speed = global.get('filtration_speed') || 'STOP';\nvar last_sync = context.get('last_sync') || '';\n\n// Ne resynchroniser que si la vitesse a changé depuis dernière synchro\nif (expected_speed === last_sync) {\n    return null; // Pas de changement, rien à faire\n}\n\n// Mémoriser la dernière synchro\ncontext.set('last_sync', expected_speed);\n\nmsg.payload = expected_speed;\nmsg.topic = 'piscine/filtration/speed';\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":340,"wires":[["5a25c8f47a756940"]]},{"id":"5a25c8f47a756940","type":"mqtt out","z":"tab_filtration","name":"piscine/filtration/speed","topic":"","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"99d8bec3.32123","x":620,"y":340,"wires":[]},{"id":"e74d17c39e7deed4","type":"debug","z":"tab_filtration","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":340,"wires":[]},{"id":"30505a38.bbf206","type":"mqtt in","z":"bb193352.8cf5b","name":"piscine/filtration/switch","topic":"piscine/filtration/switch","qos":"2","broker":"99d8bec3.32123","inputs":0,"x":120,"y":80,"wires":[["511f582e.fb2878"]]},{"id":"76b63c29.40b8a4","type":"exec","z":"bb193352.8cf5b","command":"/scripts/relayControl","addpay":true,"append":"/dev/ttyUSB0","useSpawn":"false","timer":"","oldrc":false,"name":"set filtration","x":670,"y":80,"wires":[["fef5bb8a.4a0578"],[],[]]},{"id":"fef5bb8a.4a0578","type":"exec","z":"bb193352.8cf5b","command":"/scripts/relayControl -s 1 /dev/ttyUSB0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Filtration status","x":340,"y":257,"wires":[["1e4ee6d3.485249"],[],[]]},{"id":"e4eb4f8a.8bded","type":"mqtt out","z":"bb193352.8cf5b","name":"piscine/filtration/status","topic":"piscine/filtration/status","qos":"1","retain":"true","broker":"99d8bec3.32123","x":840,"y":260,"wires":[]},{"id":"d212c14f.bdfaf","type":"inject","z":"bb193352.8cf5b","name":"","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":259,"wires":[["fef5bb8a.4a0578"]]},{"id":"8f65b564.8b7758","type":"change","z":"bb193352.8cf5b","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"-o 1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"-c 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":80,"wires":[["76b63c29.40b8a4"]]},{"id":"1e4ee6d3.485249","type":"function","z":"bb193352.8cf5b","name":"Remove carriage return","func":"msg.payload = msg.payload.replace(/\\s+/g, ' ').trim()\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["e4eb4f8a.8bded"]]},{"id":"b70b3013.c8df7","type":"link in","z":"bb193352.8cf5b","name":"","links":[],"x":395,"y":40,"wires":[["8f65b564.8b7758","78172f20.b4f64"]]},{"id":"4d92fd47.0f9b94","type":"switch","z":"bb193352.8cf5b","name":"antigel running?","property":"antigel","propertyType":"global","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":20,"wires":[[]]},{"id":"511f582e.fb2878","type":"function","z":"bb193352.8cf5b","name":"antigel running?","func":"var antigel = global.get('antigel') || 'off';\nif (antigel == 'off') {\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["8f65b564.8b7758","78172f20.b4f64"]]},{"id":"dd9fa602.dde928","type":"pushover","z":"bb193352.8cf5b","name":"","device":"","title":"","priority":"0","sound":"","url":"","url_title":"","html":false,"x":760,"y":160,"wires":[]},{"id":"78172f20.b4f64","type":"function","z":"bb193352.8cf5b","name":"Prepare notifications","func":"if (msg.payload == 'ON') {\n    msg.topic = 'Filtration démarrée';\n} else {\n    msg.topic = 'Filtration arrêtée';\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":160,"wires":[["dd9fa602.dde928"]]},{"id":"1cabfaa2.56db65","type":"mqtt in","z":"ea6e8158.f93ef","name":"piscine/salt/switch","topic":"piscine/salt/switch","qos":"2","datatype":"auto","broker":"99d8bec3.32123","inputs":0,"x":110,"y":120,"wires":[["2050d4d0.2b4d1c"]]},{"id":"2050d4d0.2b4d1c","type":"change","z":"ea6e8158.f93ef","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"-c 5","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"-o 5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":120,"wires":[["af4d2127.bcd55"]]},{"id":"af4d2127.bcd55","type":"exec","z":"ea6e8158.f93ef","command":"/scripts/relayControl","addpay":true,"append":"/dev/ttyUSB0","useSpawn":"false","timer":"","oldrc":false,"name":"set salt","x":660,"y":120,"wires":[["fc281ae6.6f2938"],[],[]]},{"id":"fc281ae6.6f2938","type":"exec","z":"ea6e8158.f93ef","command":"/scripts/relayControl -s 5 /dev/ttyUSB0","addpay":false,"append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Salt status","x":330,"y":297,"wires":[["161d4fb.99353b","24494c1e.27b764"],[],[]]},{"id":"8004bba7.434f18","type":"inject","z":"ea6e8158.f93ef","name":"","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":299,"wires":[["fc281ae6.6f2938"]]},{"id":"161d4fb.99353b","type":"function","z":"ea6e8158.f93ef","name":"Remove carriage return","func":"msg.payload = msg.payload.replace(/\\s+/g, ' ').trim()\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":300,"wires":[["d1040949.4581c8"]]},{"id":"d852ccb2.9773e","type":"mqtt out","z":"ea6e8158.f93ef","name":"piscine/salt/status","topic":"piscine/salt/status","qos":"1","retain":"true","broker":"99d8bec3.32123","x":830,"y":300,"wires":[]},{"id":"d1040949.4581c8","type":"function","z":"ea6e8158.f93ef","name":"reverse payload","func":"var payload = msg.payload\nif (payload == \"ON\") {\n    msg.payload = \"OFF\"\n}\nelse {\n    msg.payload = \"ON\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":380,"wires":[["d852ccb2.9773e","1900a50.d93995b"]]},{"id":"1900a50.d93995b","type":"debug","z":"ea6e8158.f93ef","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":260,"wires":[]},{"id":"24494c1e.27b764","type":"debug","z":"ea6e8158.f93ef","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":220,"wires":[]}]