flows.json
[{"id":"42754b53.15e874","type":"tab","label":"1-wire to mqtt + anti-gel","disabled":false,"info":""},{"id":"bb193352.8cf5b","type":"tab","label":"Control USB relay","disabled":false,"info":""},{"id":"99d8bec3.32123","type":"mqtt-broker","z":"","name":"domobeyou","broker":"192.168.0.18","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ede5fa25.d43b48","type":"owfs","z":"42754b53.15e874","name":"","uncached":false,"mode":"read","host":"192.168.0.11","port":4304,"paths":["local_piscine/temperature","eau_piscine/temperature","ext_piscine/temperature"],"x":280,"y":60,"wires":[["82e4ab61.2826b8"]]},{"id":"d414ab3f.5ec5d8","type":"inject","z":"42754b53.15e874","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["ede5fa25.d43b48"]]},{"id":"a2e8ca47.09f638","type":"mqtt out","z":"42754b53.15e874","name":"mqtt","topic":"","qos":"1","retain":"true","broker":"99d8bec3.32123","x":670,"y":100,"wires":[]},{"id":"30505a38.bbf206","type":"mqtt in","z":"bb193352.8cf5b","name":"piscine/filtration/switch","topic":"piscine/filtration/switch","qos":"2","broker":"99d8bec3.32123","x":120,"y":80,"wires":[["511f582e.fb2878"]]},{"id":"76b63c29.40b8a4","type":"exec","z":"bb193352.8cf5b","command":"/scripts/relayControl","addpay":true,"append":"/dev/ttyUSB0","useSpawn":"false","timer":"","oldrc":false,"name":"set filtration","x":670,"y":80,"wires":[["fef5bb8a.4a0578"],[],[]]},{"id":"fef5bb8a.4a0578","type":"exec","z":"bb193352.8cf5b","command":"/scripts/relayControl -s 1 /dev/ttyUSB0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Filtration status","x":340,"y":257,"wires":[["1e4ee6d3.485249"],[],[]]},{"id":"e4eb4f8a.8bded","type":"mqtt out","z":"bb193352.8cf5b","name":"piscine/filtration/status","topic":"piscine/filtration/status","qos":"1","retain":"true","broker":"99d8bec3.32123","x":1040,"y":260,"wires":[]},{"id":"d212c14f.bdfaf","type":"inject","z":"bb193352.8cf5b","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":259,"wires":[["fef5bb8a.4a0578"]]},{"id":"8f65b564.8b7758","type":"change","z":"bb193352.8cf5b","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"-o 1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"-c 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":80,"wires":[["76b63c29.40b8a4"]]},{"id":"1e4ee6d3.485249","type":"function","z":"bb193352.8cf5b","name":"Remove carriage return","func":"msg.payload = msg.payload.replace(/\\s+/g, ' ').trim()\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["513cbf4.6ade94"]]},{"id":"82e4ab61.2826b8","type":"switch","z":"42754b53.15e874","name":"Remove 85°","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"85","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":160,"wires":[["a2e8ca47.09f638","c1a521c5.b6cba"]]},{"id":"c1a521c5.b6cba","type":"switch","z":"42754b53.15e874","name":"outside temp","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ext_piscine/temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":200,"wires":[["9526c680.60b3f8","ae1bb7fd.6c5788"]]},{"id":"9526c680.60b3f8","type":"switch","z":"42754b53.15e874","name":"Too cold?","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"-2.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":840,"y":200,"wires":[["28043c21.46e0c4"]]},{"id":"ae1bb7fd.6c5788","type":"switch","z":"42754b53.15e874","name":"Too hot?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"-1.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":840,"y":300,"wires":[["26c7051a.89e5fa"]]},{"id":"28043c21.46e0c4","type":"function","z":"42754b53.15e874","name":"antigel running?","func":"var antigel = global.get('antigel') || 'off';\nif (antigel == 'off') {\n    global.set('antigel', 'on')\n    msg.payload = 'ON'\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":1029,"y":200,"wires":[["67927813.826f38","f718f067.00514","d33855b3.9ed248"]]},{"id":"26c7051a.89e5fa","type":"function","z":"42754b53.15e874","name":"antigel running?","func":"var antigel = global.get('antigel') || 'off';\nif (antigel == 'on') {\n    global.set('antigel', 'off')\n    msg.payload = 'OFF'\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":1029,"y":300,"wires":[["67927813.826f38","f718f067.00514","d33855b3.9ed248"]]},{"id":"67927813.826f38","type":"link out","z":"42754b53.15e874","name":"","links":["b70b3013.c8df7"],"x":1175,"y":240,"wires":[]},{"id":"b70b3013.c8df7","type":"link in","z":"bb193352.8cf5b","name":"","links":["67927813.826f38"],"x":395,"y":40,"wires":[["8f65b564.8b7758"]]},{"id":"42333ade.b34b34","type":"inject","z":"42754b53.15e874","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":80,"wires":[["4cb8fcf6.c7fde4"]]},{"id":"4cb8fcf6.c7fde4","type":"function","z":"42754b53.15e874","name":"reset antigel status","func":"global.set('antigel', 'off')\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":80,"wires":[[]]},{"id":"f718f067.00514","type":"function","z":"42754b53.15e874","name":"Prepare notifications","func":"var antigel = global.get('antigel');\nmsg.from = 'lionel@beard.fr';\nif (antigel == 'on') {\n    msg.topic = '[Piscine] Début anti-gel';\n    msg.payload = 'Mode anti-gel enclenché';\n} else {\n    msg.topic = '[Piscine] Fin anti-gel';\n    msg.payload = 'Mode anti-gel stoppé';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":320,"wires":[["85fe978c.7333b8","4fffc214.8b312c"]]},{"id":"85fe978c.7333b8","type":"e-mail","z":"42754b53.15e874","server":"smtp.free.fr","port":"25","secure":false,"name":"lionel@beard.fr","dname":"","x":1500,"y":320,"wires":[]},{"id":"4fffc214.8b312c","type":"pushover","z":"42754b53.15e874","name":"","device":"","title":"","priority":"0","sound":"","url":"","url_title":"","x":1480,"y":380,"wires":[]},{"id":"4d92fd47.0f9b94","type":"switch","z":"bb193352.8cf5b","name":"antigel running?","property":"antigel","propertyType":"global","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":20,"wires":[[]]},{"id":"d33855b3.9ed248","type":"mqtt out","z":"42754b53.15e874","name":"","topic":"piscine/filtration/antigel","qos":"0","retain":"true","broker":"99d8bec3.32123","x":1320,"y":200,"wires":[]},{"id":"16512b7d.e1e095","type":"inject","z":"42754b53.15e874","name":"reset antigel mqtt","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1100,"y":120,"wires":[["d33855b3.9ed248"]]},{"id":"511f582e.fb2878","type":"function","z":"bb193352.8cf5b","name":"antigel running?","func":"var antigel = global.get('antigel') || 'off';\nif (antigel == 'off') {\n    return msg;\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["8f65b564.8b7758"]]},{"id":"513cbf4.6ade94","type":"rbe","z":"bb193352.8cf5b","name":"if value changes","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":820,"y":260,"wires":[["e4eb4f8a.8bded"]]}]